.candidate-card {
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #000;
}

.candidate-image-container {
  text-align: center;
}

.candidate-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

#next-button {
  border: 1px solid white;
  border-radius: 5px;
}

#save-button {
  border: 1px solid white;
  border-radius: 5px;
}