td {
  min-width: 120px;
  text-align: center;
  padding: 0px 10px;
}

.user-row {
  height: 80px;
}

.user-image {
  height: 50px;
  border-radius: 25px;
}

#reject-user {
  background-color: red
}